<%= form_for(@type_of_fit) do |f| %>
  <% if @type_of_fit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@type_of_fit.errors.count, "error") %> prohibited this type_of_fit from being saved:</h2>

      <ul>
      <% @type_of_fit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
