<h1>Listing care_instructions</h1>

<table>
  <tr>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @care_instructions.each do |care_instruction| %>
  <tr>
    <td><%= care_instruction.description %></td>
    <td><%= link_to 'Show', care_instruction %></td>
    <td><%= link_to 'Edit', edit_care_instruction_path(care_instruction) %></td>
    <td><%= link_to 'Destroy', care_instruction, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Care instruction', new_care_instruction_path %>
