<%= form_for(@construction) do |f| %>
  <% if @construction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@construction.errors.count, "error") %> prohibited this construction from being saved:</h2>

      <ul>
      <% @construction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
